<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BharatSeva</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/HomePage.css">
</head>

<body>
    <div class="wrapper">
        <header id="cabecalho">
            <div class="container container-cabecalho">
                <a href="#logo" id="logo">BharatSeva</a>
                <nav>
                    <ul id="menu">
                        <li><a href="#item">Home</a></li>
                        <li><a href="#item">About</a></li>
                        <li><a href="/home">Login</a></li>
                    </ul>
                    <div id="google_element">

                    </div>
                    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>

                    <script>
                        function loadGoogleTranslate() {
                            new google.translate.TranslateElement("google_element")
                        }
                    </script>
                </nav>
            </div>
        </header>
        <section id="banner">
            <div class="container">
                <h1 class="logo" style=" color: #fff;
    font-size: 60px; text-align: center; padding:60px;"><i class='bx bxl-xing'></i>BharatSeva</h1>

            </div>
        </section>

        <section>
            <div class="container">
                <div class="container-main">
                    <main>
                        <article>

                            <h2>Provides Essential Aid for Basic Necessities During Crises</h2>
                            <br>
                            <img src="../images/homemain1.jpg" alt="">
                            <p>Bharatseva stands as a beacon of hope and practical assistance during times of crises,
                                providing essential aid for basic necessities with unwavering dedication.
                            </p>
                            <p>
                                In the face of natural disasters, conflict, or other emergencies, Bharatseva swiftly
                                mobilizes resources and deploys teams to ensure that affected communities receive the
                                fundamental
                                support required for survival and recovery.Bharatseva's commitment to addressing basic
                                necessities reflects a deep understanding of the immediate needs that arise during
                                crises.
                            </p>
                            <br>
                        </article>
                        <article>
                            <h2>Offer Valuable Information about Embasies and Resources</h2>
                            <img src="../images/homemain2.jpg" alt="">
                            <p> Bharatseva goes beyond immediate relief efforts by offering valuable information about
                                embassies and resources, recognizing the importance of comprehensive support in times of
                                need. In times of crises, individuals and communities often face challenges related to
                                documentation, communication, and access to essential services.
                            </p>
                            <p> Bharatseva strives to bridge these gaps by providing critical information about the
                                nearest embassies, consulates, and relevant resources. This includes guidance on
                                documentation processes, legal assistance, and other essential services that can be
                                pivotal for individuals navigating unfamiliar territories during challenging
                                circumstances.


                            </p>
                            <br>
                        </article>
                        <article>
                            <h2>Provide AI Chatbot Assistance, Real Time Alerts and Communication. </h2>
                            <br>
                            <img src="../images/homemain3.webp" alt="">
                            <p>Bharatseva distinguishes itself by incorporating cutting-edge technology to enhance its
                                crisis response capabilities. At the forefront of this technological innovation is the
                                deployment of AI chatbot assistance, real-time alerts, and communication systems.
                            </p>
                            <p> Bharatseva's commitment to efficiency and accessibility, as it strives to reach a wide
                                audience and deliver assistance promptly
                            </p>
                        </article>
                        <article>
                            <h2>Promote Peace and Support during International Crises. </h2>
                            <br>
                            <img src="../images/homemain4.webp" alt="">
                            <p>Bharatseva plays a vital role in promoting peace and providing support during
                                international crises, embodying the spirit of global cooperation and solidarity. In
                                times of conflict or disaster, the organization actively engages in peace-building
                                initiatives, advocating for diplomatic solutions and humanitarian interventions.

                            </p>
                            <p> Bharatseva contributes to creating a world where solidarity triumphs over division, and
                                where nations come together to build a future marked by cooperation, compassion, and
                                lasting peace.
                            </p>
                        </article>
                    </main>
                    <aside>
                        <div class="aside-item" id="sobreMim">
                            <h2>About</h2>
                            <img src="../images/Bharatlogo.png" alt="">
                            <h3>BharatSeva</h3>
                            <p>"It is India's Global Aid and Relief Initiative" which address and solve critical
                                chaleenges related to aid,
                                relief,information dissemination and peace promotion.
                            </p>
                        </div>
                        <div class="aside-item">
                            <h2>Categories</h2>
                            <nav id="categorias-links">
                                <ul>
                                    <li><a href="#categoria">Donators<span></span></a></li>
                                    <li><a href="#categoria">Vendors<span></span></a></li>
                                    <li><a href="#categoria">Victims<span></span></a></li>
                                    <li><a href="#categoria">More.<span></span></a></li>
                                </ul>
                            </nav>

                        </div>
                        <!-- <div class="aside-item">
                            <h2>Popular Tags </h2>
                            <nav id="tags-popular">
                                <a href="#tag">Legal</a>
                                <a href="#tag">Law</a>
                                <a href="#tag">Judge</a>
                                <a href="#tag">Lawyer</a>
                                <a href="#tag">attorneys</a>
                                <a href="#tag">Case</a>
                                <a href="#tag">Litigants</a>
                                <a href="#tag">Court</a>
                            </nav>

                        </div> -->
                    </aside>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <!-- <p><strong>Credits: <a href="#">BOMMER</a><strong></p> -->
            </div>
        </footer>
    </div>
</body>

</html>